<mat-grid-list cols="4" gutterSize="5px" rowHeight="500px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-card>
      <div *ngIf="currentState === 'Wait'">
        <h2 style="text-align: center;">Please Wait...</h2>
      </div>
      <div *ngIf="currentState === 'NotVerified'">
        <h2 style="text-align: center;">Invalid URL.</h2>
      </div>
      <div *ngIf="currentState === 'Verified'">
        <form [formGroup]="responseResetForm" (ngSubmit)="resetPassword()">
          <h2 class="formHeading">Set New Password</h2>
  
          <!-- Password field -->
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="New Password"
              formControlName="newPassword"
              [errorStateMatcher]="matcher"
            >
            <mat-error *ngIf="responseResetForm.get('newPassword').hasError('required') && responseResetForm.get('newPassword').touched">
              Password is required
            </mat-error>
          </mat-form-field>
  
          <!-- Confirm Password field -->
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              [errorStateMatcher]="matcher"
            >
            <mat-error *ngIf="responseResetForm.get('confirmPassword').hasError('required') && responseResetForm.get('confirmPassword').touched">
              Confirm Password is required
            </mat-error>
          </mat-form-field>
          <button mat-flat-button type="submit" color="primary" [disabled]="!responseResetForm.valid">Update Password</button>
        </form>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>