<mat-grid-list cols="4" gutterSize="5px" rowHeight="500px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-card>
      <form [formGroup]="requestResetForm" (ngSubmit)="requestResetUserPwd()">
        <h2 class="formHeading">Forgot Password</h2>

        <!-- Email field -->
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Email address"
            formControlName="email"
            [errorStateMatcher]="matcher"
          >
          <mat-error *ngIf="requestResetForm.get('email').hasError('required') && requestResetForm.get('email').touched">
            Email is required
          </mat-error>
          <mat-error *ngIf="requestResetForm.get('email').hasError('email') && requestResetForm.get('email').touched">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary" [disabled]="!requestResetForm.valid">Reset
          Password</button>
      </form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>